<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="{% static 'likes.js' %}"></script>
    <style>
        body {
        background-color: rgb(255, 255, 255);
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111;
        }
        div.container {
            text-align: center;
        }
    </style>
    <title>Messages App</title>
</head>
<body>
    <nav style="background-color:#414342">
        <div>
            <ul>
                <li style="float:left;">
                    <a href='/postList/'>Home</a>
                </li>
                <li style="float:left;">
                    <a href='/postList/{{ user.id }}/postcreate/'>Add Post</a>
                </li>
                <li style="float:left;">
                    <a href='/logout/'>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% for post in posts %}
    <ul style="border-style: solid;background-color: white;position:relative;width: 500px;border: 5px solid grgb(0, 0, 0); padding:10px; margin: 10px;">
        <h3>{{post.user.first_name}} {{post.user.last_name}} posted a message</h3>
        <h4 style="border-style: hidden">Title- {{ post.title }}</h4>
        {% if post.image %}
            <img src="{{ post.image.url }}" width="200" height="200">
        {% else %}
            <p style="text-align: left;"> No image</p>
        {% endif %}
        <br>
        <br>
        <p style="color:black; float:left;">{{ post.message }}</p>
        <br>
        <br>
        <br>
        <br>
        <ul style="background-color: white;">
            <p style="display: inline; word-spacing: 5px;">
                <i id="like{{post.id}}" data-post-id="{{ post.id }}" style="float: left;"  class="fa fa-thumbs-up like-button">{{ post.likes.count }}</i>
                {% comment %} <br> {% endcomment %}
                <a class="fa fa-envelope" style="float:right; color:black; text-decoration: none;" href="/postList/{{ post.id }}/comments"> comments</a>
                <br>
                <br>
                <a style="float: left; text-decoration: none;"  class="fa fa-pencil" href="/postList/{{ user.id }}/{{ post.id }}/edit"> Edit</a>
                <a class="fa fa-trash" style="float:right; color:black; text-decoration: none;" href="/postList/{{ user.id }}/{{ post.id }}/delete"> Delete</a>
            </p>
        </ul>
        
        <!-- <p style="text-align: left;"> 
            <i id="like{{post.id}}" data-post-id="{{ post.id }}" style="float: left;"  class="fa fa-thumbs-up like-button">{{ post.likes.count }}</i>
            <i style="float: left;"  class="fa fa-pencil" href="/postList/{{ user.id }}/{{ post.id }}/edit">Edit</i>
            <a class="button button4" href="/postList/{{ post.id }}/comments">comments</a>
            <a class="button button3" href="/postList/{{ user.id }}/{{ post.id }}/delete">Delete post</a>
        </p> -->
        <p style="text-align: right;color: rgb(157, 64, 156);">posted on {{ post.posted_date }}</p>
    </ul>
            
    {% endfor %}
    <script type="text/javascript">
        $('.like-button').on('click', function(event) {
        event.preventDefault();
        var pk = $(this).attr('data-post-id');
        var url = '/postList/'+pk+'/like/';
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                pk: pk},
            success: function(response) {
                console.log("hello")
                var likes = response.likes;
                $('#like' + pk).text(likes);
            }
        });
    });
    </script>
</body>

