<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'likes.js' %}"></script>
    
    <title>Messages App</title>
</head>
<body>
    <nav style="background-color:#0e8436">
        <div>
            <ul>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/post-api/'>POST-API</a>
                </li>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/postList/{{ user.id }}'>My Posts</a>
                </li>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/postList/{{ user.id }}/postcreate/'>Add Post</a>
                </li>
                <li>
                    <a class="button" style="color: #f8f9fa; float: right;" href='/logout/'>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% for post in posts %}
    <ul style="border-style: solid;background-color: white;position:relative;width: 900px;border: 15px solid green; padding: 50px; margin: 10px;">
        <h3>{{post.user.first_name}} {{post.user.last_name}} posted a message</h3>
        <h4 style="border-style: hidden">Title- {{ post.title }}</h4>
        <li style="border-style: solid; background-color: white; position:relative; width: 250px; border: 2px solid rgb(10, 10, 10); padding: 5px; margin: 5px; color:black;">Content - {{ post.message }}</li>
        <p style="text-align: left;"> 
            <button class="button button1 like-button" id="like{{post.id}}"  data-post-id="{{ post.id }}">Likes : {{ post.likes.count }}</button>
            <a class="button button4" style="float: right;" href="/postList/{{ post.id }}/comments">comments</a>
        </p>
        <p style="text-align: right;color: rgb(157, 64, 156);">posted on {{ post.posted_date }}</p>
    </ul>
            
    {% endfor %}
    <script type="text/javascript">
        $('.like-button').on('click', function(event) { 
            // the above line is to mention the class name and activate the same when the like button is pressed
        event.preventDefault();
            // this part is to avoid the page reload
        var pk = $(this).attr('data-post-id');
        var url = '/postList/'+pk+'/like/';
        // variables to extract data from html

        $.ajax({
            url: url, // url
            method: 'POST', //method
            data: { 
                csrfmiddlewaretoken: "{{ csrf_token }}",
                pk: pk},
            success: function(response) {
                console.log("hello")
                var likes = response.likes; // extracting data from views.py
                $('#like' + pk).text("Likes : " + likes); // updating text dynamically in the page
            }
        });
    });
    </script>
</body>

