<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="{% static 'likes.js' %}"></script>
    <style>
        body {
        background-color: rgb(255, 255, 255);
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111;
        }
        div.container {
            text-align: center;
        }
    </style>
    <title>Messages App</title>
</head>
<body>
    <nav style="background-color:#000000">
        <div>
            <ul>
                {% comment %} <li style="float:left;">
                    <a href='/post-api/'>POST-API</a>
                </li> {% endcomment %}
                <li style="float:left;">
                    <a href='/postList/{{ user.id }}'>My Posts</a>
                </li>
                <li style="float:left;">
                    <a href='/postList/{{ user.id }}/postcreate/'>Add Post</a>
                </li>
                <li style="float:right;">
                    <a href='/logout/'>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% for post in posts %}
    <ul style="border-style: solid; background-color: white; position:relative; width: 500px; height: 500px; border: 5px solid rgb(0, 0, 0); padding: 10px; margin: 10px;">
        <h3>{{post.user.first_name}} {{post.user.last_name}}</h3>
        <h4 style="border-style: hidden">{{ post.title }}</h4>
        {% if post.image %}
        <img src="{{ post.image.url }}" width="200" height="200">
        {% else %}
        <p style="text-align: left;"> No image</p>
        {% endif %}
        <br>
        <br>
        <p style="color:black; float:left;">{{ post.message }}</p>
        <br>

        <p style="text-align: left;">
            <br>
            <br>
            <a id="like{{post.id}}" data-post-id="{{ post.id }}" style="float: left;"  class="fa fa-thumbs-up like-button">{{ post.likes.count }}</a>
            {% comment %} <br> {% endcomment %}
            <a class='fa fa-envelope' style="float: right; color:black; text-decoration: none;" href="/postList/{{ post.id }}/comments"> comments</a>
        </p>
        <br>
        <p style="text-align: right;color: rgb(157, 64, 156);">posted on {{ post.posted_date }}</p>
    </ul>
            
    {% endfor %}

    <script type="text/javascript">
        function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
      }

        $('.like-button').on('click', function(event) { 
            // the above line is to mention the class name and activate the same when the like button is pressed
        event.preventDefault();
            // this part is to avoid the page reload
        var pk = $(this).attr('data-post-id');
        var url = '/postList/'+pk+'/like/';
        // variables to extract data from html

        $.ajax({
            url: url, // url
            method: 'POST', //method
            data: { 
                csrfmiddlewaretoken: "{{ csrf_token }}",
                pk: pk},
            success: function(response) {
                console.log("hello")
                var likes = response.likes; // extracting data from views.py
                $('#like' + pk).text(likes); // updating text dynamically in the page
            }
        });
    });
    </script>
</body>